<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1>Welcome <small>to the finance tracker app</small></h1>
      </div>
    </div>
  </div>
</div>
